<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "A B E S", '/', id: "logo" %>
      <nav>
        <ul class="nav">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Who We Are", '/who_we_are' %></li>
          <li><%= link_to "What We Do", '/what_we_do' %></li>
          <li><%= link_to "How We Do It", '/powerpoint' %></li>
          <li><%= link_to "Current Status", '/current_status' %></li>
          <li><%= link_to "News", '/news' %>
          <li><%= link_to "Contact Us", '/inquiries/new' %>

        </ul>
      </nav>
    </div>
  </div>
</header>